---
layout: layout.liquid
title: 11ty Boilerplate
---

{% comment %} Learned Circle creation on w3schools.com and found AUs from jpl.nasa.gov by Jet Propulsion Laboratory {% comment %}

<h1>Planetary Playing Cards</h1>
<div class="container">
    <div class="card one">
        <span class="circle one"></span>
        <h2><strong>Sun</strong></h2> 
        <p> Type G2V </p>
    </div>
    <div class="card two">
        <span class="circle two"></span>
        <h2 class="small"><strong>Mercury</strong></h2>
        <p class="small">0.387 AU</p>
    </div>
    <div class="card three">
        <span class="circle three"></span>
        <h2 class="small"><strong>Venus</strong></h2>
        <p class="small">0.723 AU</p>
    </div>
    <div class="card four">
        <span class="circle four"></span>
        <h2 class="small"><strong>Earth</strong></h2>
        <p class="small">1 AU</p>
    </div>
    <div class="card five">
        <span class="circle five"></span>
        <h2 class="small"><strong>Mars</strong></h2>
        <p class="small">1.52 AU</p>
    </div>
    <div class="card six"> 
        <span class="circle six"></span>
        <h2 class="small"><strong>Jupiter</strong></h2>
        <p class="small">5.2 AU</p>
    </div>
    <div class="card seven"> 
        <span class="circle seven"></span>
        <h2 class="small"><strong>Saturn</strong></h2>
        <p class="small">9.54 AU</p>
    </div>
    <div class="card eight">
        <span class="circle eight"></span>
        <h2 class="small"><strong>Uranus</strong></h2>
        <p class="small">19.2 AU</p>
    </div>
    <div class="card nine">
        <span class="circle nine"></span>
        <h2 class="small"><strong>Neptune</strong></h2>
        <p class="small">30.06 AU</p>
    </div>
</div>